@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	background-color: pink;
	font-family: 'roboto', sans-serif;
}

.name {
	font-family: Quicksand,sans-serif;
	font-weight: 300;
	font-size: 60px;
	text-transform: uppercase;
	margin: 2px 10px 2px 5px;
	display: block;
	min-width: 325px;
	padding: 2px 10px 2px 5px;
	text-align: center;
}


a {
	color: black;
	text-decoration: none;
		
}

a:hover {
	/* color: white; */
	color: white;
}

#navigation {
	font-size: 20px;
	text-align: center;
	padding: 10px 0px 10px 0px;;
	border: none;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-bottom: 2px solid black;
	/* border-bottom: 2px solid #b363b3; */
	background-color: rgb(191, 129, 142);
}

ul li {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.marcella {
	border-radius: 50%;
	width: 450px;
	height: 450px;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

h1 {
	font-size: 50px;
	text-align: center;
}

.about-div {
	padding: 0px 250px;
	font-size: 20px;
	/* border-bottom: 2px solid #b363b3; */
}

.infoSection {
	background-color: rgb(191, 129, 142);
}

img {
	height: 60px;
	width: 60px;
}

.info {
	padding-top: 0px;
	padding: 0px 250px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.talk {
	text-align: center;
}

.getInTouch {
	margin-top: 15px;
	padding-top: 15px;
	text-align: center;
	font-size: 30px;
	border-top: 2px solid black;
}

.copyRight {
	text-align: center;
}

.copyDiv {
	border-top: 2px solid black;
}

/* button {
	text-align: center;
	background-color: rgb(206, 112, 131);
	width: 17%;
	height: 30px;
	font-size: 20px;
} */